*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 120rem;
}

/* effct1 */
.effect1 {
	width: 100%;
	min-height: 30rem;
	padding: 3rem;
	margin-top: 7rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: #27292d;
}

.btn-glow {
	position: relative;
	padding: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.effect1 button {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: transparent;
	color: var(--clr);
	padding: 1.3rem 2.3rem;
	border: 2px solid #1d1e25;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	text-shadow: 0px 0px 20px 5px var(--clr);
	z-index: 100;
	transition: 0.5s 0.5s;
}

.effect1 button:is(:hover, :focus) {
	color: #fff;
	text-shadow: 0px 0px 12px #fff;
	border-color: transparent;
	box-shadow: 0 0 20px 3px var(--clr);
}
.effect1 button::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--clr);
	position: absolute;
	z-index: -1;
	transform: scale(0);
	transition: transform 0.3s 0.3s ease-in, box-shadow 0.3s 0.3s;
	box-shadow: 0 0 0px 3px var(--clr), 0 0 10px 5px var(--clr);
}
.effect1 button:is(:hover, :focus)::after {
	transform: scale(1);
}

/* lines */
.glow-line {
	position: absolute;
	background-color: var(--clr);
	display: block;
	box-shadow: 0 0 20px 2px var(--clr);
	pointer-events: none;
	transition: position 1s ease-in, transform 0.5s 0.5s ease-in;
}
/* horizontal lines */
.glow-line:first-of-type,
.glow-line:nth-of-type(2) {
	width: 30px;
	height: 4px;
}
.glow-line:first-of-type {
	left: 0;
	transition: left 0.5s ease-in, transform 0.25s 0.25s ease-in;
	transform-origin: 0%;
}
.glow-line:nth-of-type(2) {
	right: 0;
	transition: right 0.5s ease-in, transform 0.25s 0.25s ease-in;
	transform-origin: 0%;
}
/* left line animation */
.effect1 button:is(:hover, :focus) + .glow-line:first-of-type {
	left: 50%;
	transform: scaleX(0);
}
/* right line animation */
.effect1 button:is(:hover, :focus) ~ .glow-line:nth-of-type(2) {
	right: 50%;
	transform: scaleX(0);
}

/* vertical lines */
.glow-line:nth-of-type(3),
.glow-line:nth-of-type(4) {
	width: 4px;
	height: 30px;
}
.glow-line:nth-of-type(3) {
	top: 0;
	transition: top 0.5s ease-in, transform 0.25s 0.25s ease-in;
	transform-origin: 0;
}
.glow-line:nth-of-type(4) {
	bottom: 0;
	transition: bottom 0.5s ease-in, transform 0.25s 0.25s ease-in;
	transform-origin: 0;
}

/* top line animation */
.effect1 button:is(:hover, :focus) ~ .glow-line:nth-of-type(3) {
	top: 50%;
	transform: scaleY(0);
}
/* bottom line animation */
.effect1 button:is(:hover, :focus) ~ .glow-line:nth-of-type(4) {
	bottom: 50%;
	transform: scaleY(0);
}

/* effect2 */

.effect2 {
	width: 100%;
	min-height: 30rem;
	padding: 3rem;
	margin-top: 4rem;
	background-color: #252839;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.effect2 div {
	width: 12rem;
	height: 12rem;
	flex-shrink: 0;
	color: #fff;
	font-size: 10rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 10px 10px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.effect2 b {
	-webkit-text-stroke: 3px var(--clr);
	color: transparent;
	transition: 0.3s 0.3s linear;
	overflow: hidden;
	display: block;
}

.effect2 div:hover b {
	opacity: 0;
	transition: 0.1s linear;
}

.effect2 div::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10rem;
	color: var(--clr);
	font-weight: 700;
	width: 100%;
	height: 0;
	overflow: hidden;
	text-align: center;
	border-bottom: 7px solid var(--clr);
	transition: 0.5s linear;
}

.effect2 div:hover::before {
	height: 100%;
	filter: drop-shadow(0 0 15px var(--clr));
}

/* effect 3 Focus */

.effect3 {
	width: 100%;
	min-height: 30rem;
	padding: 3rem;
	margin-top: 4rem;
	background-image: linear-gradient(45deg, #ff0057, #2196f3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.effect3 h1 {
	display: flex;
	gap: 4rem;
	font-size: 8rem;
	cursor: pointer;
	color: #fff;
}

.effect3 h1 span {
	width: 5.5rem;
	display: block;
	text-align: center;
	position: relative;
	transition: 0.5s ease-in-out;
	flex-shrink: 0;
}
.effect3 h1 > span {
	filter: blur(8px);
}
.effect3 h1 > span:is(:hover, :focus) {
	filter: blur(0);
}
.effect3 span span::before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0;
	left: 0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: translate(-50%, -50%);
}

.effect3 h1 > span::before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
}

.effect3 span span::after {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	bottom: 0;
	left: 0;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	transform: translate(-50%, 50%);
}

.effect3 h1 > span::after {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	right: 0;
	bottom: 0;
	transform: translate(50%, 50%);
}

.effect3 span::before {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.effect3 span::after {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.effect3 span:is(:hover, :focus)::before,
.effect3 span:is(:hover, :focus)::after {
	opacity: 1;
}
